[submodule "icicles"]
	path = icicles
	url = https://github.com/emacsmirror/icicles
[submodule "codeium.el"]
	path = codeium.el
	url = https://github.com/Exafunction/codeium.el.git
[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/zerolfx/copilot.el
