[submodule "codeium.el"]
	path = codeium.el
	url = https://github.com/Exafunction/codeium.el.git
[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/zerolfx/copilot.el
[submodule "github.el"]
	path = github.el
	url = https://github.com/mhv2109/github.el
