.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
archive-contents
*.elc
elpa/
eshell/*
!eshell/profile
meghanada/
ac-comphist.dat
transient/
eln-cache/
session.*
tramp
TAGS
*~
.dap-breakpoints
.lsp-session-v1
.cache/
.DS_Store
\#*\#
.\#*
codeium/
persist/
.org-id-locations
# Excluded to make dap-node work
# .extension/
eclipse.jdt.ls/
workspace/
.last-package-update-day
secrets.el.gpg
secrets.el
tree-sitter/
image-dired/
url/
bookmarks
.extension/
request/
flycheck_init.el
recentf
